<div class="card mt-4">
    <h4 class="card-header">
      Feel free to reply ..
      <div class="btn-toolbar float-right">
        <button class="btn btn-info float-right" (click)="save()">Save</button> &nbsp;
        <button class="btn btn-info float-right" (click)="goBack()">Back</button>
      </div>
    </h4>
  <div ngForm class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div *ngFor="let joinResultQuestion of joinResultQuestions; index as i" class="row">
          <div class="col-md-12">
              <p>{{(i+1) + '.' + joinResultQuestion.questionTitle}}</p>
          </div>
          <div class="col-md-12">

            <div *ngFor='let item of joinResultQuestion.options;let i = index'>
              <input type="{{joinResultQuestion.questionType === 0 ? 'radio' : 'checkbox'}}" name="select" [checked]="item.selected" (change)='radioChecked(item.optionId,i)' >
              {{item.optionTitle}}
            </div>


           <!--<div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio">Option 1
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio">Option 2
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio">Option 3
              </label>
            </div>
          </div>-->
          <div class="hr-sect">good luck <mdb-icon far icon="address-book"></mdb-icon></div>
        </div>
  </div>
</div>


